img{
    display:block;
    margin:auto;
    }
body{background-color:turquoise;
color: black;
}
footer{
    background-color:black;
    color:white;
    text-align:center;
}
h1,h2{
    text-align: center;
}
a{
    color: red;
    font-size: 30px;
}
table{
    background-color: blueviolet;
    margin: auto;
    text-align: center;
    border-collapse: separate;
    border: black 3px solid;
}
td{
    margin: auto;
    text-align: center;
    border-collapse: separate;
    border: black 3px solid;
}
.boton{
	width: 20%;
	background: red;
	border: none;
	padding: 12px;
	color: black;
	margin: 16px;
	margin-top: 20px;
	font-size: 18px;
	border-radius: 20px;
}