<!DOCTYPE html>
<html>
    <head>
        <title>Agregar Usuario</title>
        <LINK REL=StyleSheet HREF="/static/css/estilo.css" >
    </head>
    <body>
        <nav>
            <a href="contactos">Contactos</a>
            <a href="citas">Citas</a>
            <a href="usuarios">Usuarios</a>
        </nav>
        <form action="{{ request.path }}" method="POST">
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" name="nombre"/><br>
            <label for="clave">Clave: </label>
            <input type="password" id="clave" name="clave"/><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>