<html>
    <head>
        <LINK REL=StyleSheet HREF="/static/css/estilo.css" >
    </head>
    <body>
        <nav>
            <a href="contactos">Contactos</a>
            <a href="citas">Citas</a>
            <a href="usuarios">Usuarios</a>
        </nav>
        <table>
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th colspan="2">Administración</th>
            </tr>
            </thead>
            </tbody>
            {% for u in contactos%}
            <tr>
                <td>{{ u[0] }}</td>
                <td>{{ u[1] }}</td>
                <td>{{ u[2] }}</td>
                <td>{{ u[3] }}</td>
                <td>{{ u[4] }}</td>
                <td>{{ u[5] }}</td>
                <td><a href="/actualizar_contactos?id={{ u[0] }}">Editar</a></td>
                <td><a href="/eliminar_contactos?id={{ u[0] }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </body>

</html>