<!DOCTYPE html>
<html>
    <head>
        <title>editar contacto</title>
        <LINK REL=StyleSheet HREF="/static/css/estilo.css" >
    </head>
    <body>
        <nav>
            <a href="contactos">Contactos</a>
            <a href="citas">Citas</a>
            <a href="usuarios">Usuarios</a>
        </nav>
        <form action="{{ request.path }}" method="POST">
            <input type="hidden" id="id" name="id" value="{{ contactos[0] }}"/>
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" name="nombre" value="{{ contactos[1] }}"/><br>
            <label for="apellido">Apellido: </label>
            <input type="text" id="apellido" name="apellido" value="{{ contactos[2] }}"/><br>
            <label for="direccion">Dirección: </label>
            <input type="text" id="direccion" name="direccion" value="{{ contactos[3] }}"/><br>
            <label for="telefono">Telefono: </label>
            <input type="text" id="telefono" name="telefono" value="{{ contactos[4] }}"/><br>
            <label for="email">Email: </label>
            <input type="text" id="email" name="email" value="{{ contactos[5] }}"/><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>