<!DOCTYPE html>
<html>
<head>
	<title>Formacion academica</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body style="background-color: white">

	<div class="h_negro">
	    <h1 class="titulo">FORMACION ACADEMICA</h1>
	</div>
	<img src="{{ url_for('static', filename='Imagenes/lfmn.jpg') }}" align="left"  width=16%>
	<p class="texto_2">Bachiller académico con énfasis en lenguas extranjeras (inglés, francés) de la institución educativa distrital liceo femenino mercedes Nariño (2014-2018)
	</p> 
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="aux">
	    <div class="h_negro2" ></div>
	</div>
	<br>
	<br>
		<img src="{{ url_for('static', filename='Imagenes/ud.png') }}" align="left"  width=16%>
	<br>
	<p class="texto_2">Actualmente me encuentro cursando la carrera de ingeniería de sistemas en la universidad distrital Francisco José de Caldas</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="aux">
    	<div class="h_negro2" ></div>
	</div>
	<div align="center">
		<a href="{{ url_for('Inicio_Dayana') }}"><button class="boton"  >Volver a menu principal</button></a>
	</div>
</body>
</html>