<!DOCTYPE html>
<html>
 <head>
	<title>Tecnologias</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
 </head>
<body style="background-color: white">

	<div class="h_negro">
	    <h1 class="titulo">FORMACION TECNOLOGICA</h1>
	</div>
	    <img src="{{ url_for('static', filename='Imagenes/c.png') }}" align="left"  width=13%>
	<br>
	<br>
	  <p class="texto_2">C++ es un lenguaje de programación diseñado en 1979 por Bjarne Stroustrup
	  </p> 
	<br>
	<br>
	<br>
	<br>
	  <div class="aux">
		<div class="h_negro2" ></div>
	  </div>
	<br>
	   <img class="imagen" align="left" src="{{ url_for('static', filename='Imagenes/python.png') }}" width="14%">
	<br>
	   <p class="texto_2"> Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código.​ </p>
	<br>
	<br>
	<br>
	<br>
	  <div class="aux">
    	 <div class="h_negro2" ></div>
      </div>
    <br>
	   <img class="imagen" align="left" width="19%" src="{{ url_for('static', filename='Imagenes/java.jpg') }}">
	<br>
	  <p class="texto_2"> Java es un lenguaje de programación y una plataforma informática comercializada por primera vez en 1995 por Sun Microsystems</p>
	  
	<br>
	<br>
	<br>
	  <div class="aux">
    	 <div class="h_negro2" ></div>
      </div>
    <br>
	   <img class="imagen" src="{{ url_for('static', filename='Imagenes/html.png') }}" align="left" width="15%" >
	<br>
	<p class="texto_2"> HTML es un lenguaje de marcado que nos permite indicar la estructura de nuestro documento mediante etiquetas.</p>
	<br>
	<br>
	<br>
	<br>
	  <div class="aux">
    	 <div class="h_negro2" ></div>
      </div>
    <br>
	   <img class="imagen" src="{{ url_for('static', filename='Imagenes/css.png') }}" align="left" width="15%">
	<br>
	  <p class="texto_2"> El CSS es un lenguaje que define la apariencia de un documento escrito en un lenguaje de marcado (por ejemplo, HTML).</p>
	<br>
	<br>
	<br>
	<br>
	  <div class="aux">
    	 <div class="h_negro2" ></div>
      </div>

	 <div align="center">
		<a href="{{ url_for('Inicio_Dayana') }}"><button class="boton">Volver a menu principal</button></a>
	 </div>
</body>
</html>


		
		
		
		
		
		
		
		
		
		