<!DOCTYPE html>
<html lang = "en">
   <head>
     <title>Personas</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
   </head>
   <body>
      <nav>
         <a href = "{{ url_for('show_all') }}">Mostrar Personas</a> |
         <a href = "{{ url_for('new') }}">Agregar Persona</a>
      </nav>

      <aside>
        {%- for message in get_flashed_messages() %}
           {{ message }}
        {%- endfor %}
      </aside>
      <section>      
        <h3>Personas</h3>

        <table>
           <thead>
              <tr>
                 <th>Nombre</th>
                 <th>Ciudad</th>
                 <th>Direccion</th>
                 <th>Codigo</th>
                 <th>edad</th>
                 <th colspan="2">Acciones</th>
              </tr>
           </thead>

           <tbody>
              {% for student in students %}
                 <tr>
                    <td>{{ student.name}}</td>
                    <td>{{ student.ciudad }}</td>
                    <td>{{ student.direccion }}</td>
                    <td>{{ student.codigo }}</td>
                    <td>{{ student.edad }}</td>
                    <td>
                      <form method="POST" action="/update" style="display: inline">
                        <input type="hidden" value="{{student.name}}" name="oldname">
                        <input type="submit" value="Actualizar">
                      </form>
                    </td>
                    <td>
                      <form method="POST" action="/delete" style="display: inline">
                        <input type="hidden" value="{{student.name}}" name="oldname">
                        <input type="submit" value="Borrar">
                      </form>
                    </td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>

    </section>

   </body>
</html>